<h1>Log In Below:</h1>
<form action="/sessions" method="post">
    <ul>
        <li>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"/>
        </li>
        <li>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </li>
    </ul>
    <input type="submit" value="Log In">
</form>

